.conteiner{
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

.flex-sb{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.btn{
  font-size: 48px;
  font-family: 'Nunito', sans-serif;
  line-height: 133%;
  padding: 10px 40px;
  border: 4px solid #000;
  margin: 30px;
}


@media (max-width: 800px){
  .btn{
    font-size: 32px;
  line-height: 133%;
  padding: 10px 40px;
  border: 4px solid #000;
  margin: 20px;
    
  }
}
@media (max-width: 400px){
  .btn{
    font-size: 26px;
  line-height: 133%;
  padding: 10px 40px;
  border: 4px solid #000;
  margin: 15px;
    
  }
}
